@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --gray-color: #d9d9d9;
  --dark-color: #212123;
  --orange-color: #ff5c39;
}

body {
  background-color: #d9d9d9;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 25px;

  .header1 {
    display: flex;
    background-color: #212123;
    border-radius: 17px;
    padding: 20px 20px;
    justify-content: space-around;
    margin-right: 5px;
  }

  .header2 {
    display: flex;
    background-color: #212123;
    padding: 20px;
    margin-left: 0.25em;
    border-radius: 17px;
  }

  h4 {
    color: var(--gray-color);
    margin-left: 10px;
    margin-top: 2px;
  }

  p {
    color: var(--gray-color);
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 2px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  p:hover {
    transform: scale(1.15);
  }

  a {
    margin-left: 10px;
    margin-top: 2px;
    color: white;
    transition: color 0.3s ease;
    cursor: pointer;
  }

  a:hover {
    color: var(--orange-color);
  }

  i {
    color: var(--gray-color);
    margin-right: 1px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
  }

  .ph-apple-logo {
    color: var(--orange-color);
  }

  .space {
    margin-right: 15px;
    margin-left: 25px;
    font-weight: 100;
  }

  .Technology {
    margin-left: 15px;
    color: var(--orange-color);
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .Technology:hover {
    color: var(--orange-color);
    transform: scale(1.15);
  }

  .ph-arrow-up-right {
    margin-top: 7px;
    margin-left: 2px;
    font-size: 12px;
    font-weight: 100;
    color: var(--gray-color);
  }

  .ph-arrow-right {
    margin-top: 0px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--orange-color);
    padding: 3px 3px 3px 3px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
    color: var(--dark-color);
  }

  .ph-arrow-right:hover {
    transform: scale(1.5);
    color: var(--gray-color);
  }
}

.paragraph {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  .paragraph1 {
    margin-right: 8rem;

    h1 {
      font-size: 5rem;
      color: var(--dark-color);
      line-height: 1.2;
    }

    .พิเศษ {
      color: #7b7b80;
    }
  }

  .paragraph2 {
    margin-left: 5rem;
    margin-top: 2rem;

    h5 {
      font-size: 1.3rem;
      color: var(--dark-color);
      line-height: 1.5;
    }
  }
}

.box3 {
  display: flex;
  justify-content: center;
  margin-top: 4rem;

  .boxinbox3 {
    display: flex;
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
  }

  .bxs-circle {
    color: var(--orange-color);
    margin-right: 10px;
    font-size: 20px;
  }

  .Neuron {
    color: var(--dark-color);
    font-size: 1rem;
  }
}

.box4 {
  display: flex;
  justify-content: center;

  .car3d {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 500px;
    left: 100px;
    background: transparent;
    overflow: hidden;
  }

  .motorcycle3d {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 500px;
    right: 100px;
    background: transparent;
    overflow: hidden;
  }

  .cart3d {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 500px;
    left: 700px;
    background: transparent;
    overflow: hidden;
  }
}

.box5 {
  display: grid;
  margin-top: 30rem;

  .textbox5 {
    display: flex;
    margin-left: 5rem;

    h6 {
      color: var(--gray-color);
      font-size: 1.5rem;
      background-color: var(--dark-color);
      padding: 10px 15px 10px 10px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }

    .bxs-circle {
      color: var(--orange-color);
      background-color: var(--dark-color);
      padding: 10px 10px 10px 10px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      font-size: 1.8rem;
    }
  }

  .textbox5-1 {
    display: grid;
    margin-left: 5rem;
    margin-top: 2rem;

    h6 {
      font-size: 1.3rem;
      color: var(--dark-color);
    }

    .ปุ่มจำลอง {
      position: absolute;
      right: 150px;
      top: 1050px;
      margin-top: 2rem;
      color: var(--gray-color);
      padding: 10px 10px 10px 10px;
      background-color: var(--dark-color);
      border-radius: 20px;
      font-size: 20px;
      text-decoration: none;
      cursor: pointer;
      transition: color 0.3s ease;
      transform: scale(1);
      transition: transform 0.3s ease;

      .ph-arrow-up-right {
        margin-top: 7px;
        margin-left: 2px;
        font-size: 15px;
        font-weight: 100;
        color: var(--gray-color);
      }

      .bxs-circle {
        margin-top: 2px;
      }
    }

    .ปุ่มจำลอง:hover {
      background-color: var(--orange-color);
      color: var(--dark-color);
      transform: scale(1.1);
    }

    .พิเศษใส่ไข่ {
      display: flex;
      margin-top: 2rem;
      color: #7b7b80;
      margin-bottom: 6rem;
    }

    .motorcycle3d2 {
      width: 360px;
      height: 360px;
      position: absolute;
      top: 1050px;
      right: 400px;
      transform: scale(1);
      transition: transform 0.3s ease;
      transition: 0.3s;
      filter: drop-shadow(0 0 20px rgba(11, 29, 58, 0.6))
          drop-shadow(0 0 40px rgba(11, 29, 58, 0.35));
    }

    .motorcycle3d2:hover {
      transform: scale(1.3);
      filter:
    drop-shadow(0 0 30px rgba(11, 29, 58, 0.9))
    drop-shadow(0 0 70px rgba(11, 29, 58, 0.6))
    drop-shadow(0 0 120px rgba(11, 29, 58, 0.35));
    }
  }
}

.box6 {
  display: grid;
  margin-top: 5rem;

  .textbox6 {
    display: flex;
    margin-left: 5rem;

    h6 {
      color: var(--gray-color);
      font-size: 1.5rem;
      background-color: var(--dark-color);
      padding: 10px 15px 10px 10px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }

    .bxs-circle {
      color: var(--orange-color);
      background-color: var(--dark-color);
      padding: 10px 10px 10px 10px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      font-size: 1.8rem;
    }
  }

  .textbox6-2 {
    display: grid;
    margin-left: 5rem;
    margin-top: 2rem;

    h6 {
      font-size: 1.3rem;
      color: var(--dark-color);
    }

    .สุดพิเศษ {
      display: flex;
      margin-top: 2rem;
      color: #7b7b80;
      margin-bottom: 6rem;
    }
  }

  .textbox-3d6 {
    display: flex;

    .car3d2 {
      width: 360px;
      height: 360px;
      position: absolute;
      top: 1600px;
      right: 400px;
      transform: scale(1);
      transition: transform 0.3s ease;
      transition: 0.3s;
      filter: drop-shadow(0 0 25px rgba(150, 40, 20, 0.65))
        drop-shadow(0 0 55px rgba(150, 40, 20, 0.4));
    }

    .car3d2:hover {
      transform: scale(1.3);
      filter:
    drop-shadow(0 0 35px rgba(170, 35, 20, 0.95))
    drop-shadow(0 0 80px rgba(170, 35, 20, 0.65))
    drop-shadow(0 0 140px rgba(170, 35, 20, 0.4));
    }
  }

  .ปุ่มจำลอง1 {
    position: absolute;
    right: 150px;
    top: 1600px;
    margin-top: 2rem;
    color: var(--gray-color);
    padding: 10px 10px 10px 10px;
    background-color: var(--dark-color);
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    transform: scale(1);
    transition: transform 0.3s ease;

    .ph-arrow-up-right {
      margin-top: 7px;
      margin-left: 2px;
      font-size: 15px;
      font-weight: 100;
      color: var(--gray-color);
    }

    .bxs-circle {
      margin-top: 2px;
    }
  }

  .ปุ่มจำลอง1:hover {
    background-color: var(--orange-color);
    color: var(--dark-color);
    transform: scale(1.1);
  }
}

.box7 {
  display: grid;
  margin-top: 5rem;

  .textbox7 {
    display: flex;
    margin-left: 5rem;

    h6 {
      color: var(--gray-color);
      font-size: 1.5rem;
      background-color: var(--dark-color);
      padding: 10px 15px 10px 10px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }

    .bxs-circle {
      color: var(--orange-color);
      background-color: var(--dark-color);
      padding: 10px 10px 10px 10px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      font-size: 1.8rem;
    }
  }

  .textbox7-2 {
    display: grid;
    margin-left: 5rem;
    margin-top: 2rem;

    h6 {
      font-size: 1.3rem;
      color: var(--dark-color);
    }

    .สุดพิเศษ2 {
      display: flex;
      margin-top: 2rem;
      color: #7b7b80;
      margin-bottom: 6rem;
    }
  }

  .textbox-3d7 {
    display: flex;

    .moon3d2 {
      width: 360px;
      height: 360px;
      position: absolute;
      top: 2200px;
      right: 400px;
      transform: scale(1);
      transition: transform 0.3s ease;
      transition: 0.3s;
      filter:
    drop-shadow(0 0 24px rgba(97, 97, 97, 0.9))
    drop-shadow(0 0 60px rgba(97, 97, 97, 0.65))
    drop-shadow(0 0 110px rgba(97, 97, 97, 0.4));
    }

    .moon3d2:hover {
      transform: scale(1.3);
      filter:
    drop-shadow(0 0 26px rgba(55, 55, 55, 1))
    drop-shadow(0 0 70px rgba(70, 70, 70, 0.85))
    drop-shadow(0 0 160px rgba(95, 95, 95, 0.55));
    }
  }

  .ปุ่มจำลอง2 {
    position: absolute;
    right: 150px;
    top: 2200px;
    margin-top: 2rem;
    color: var(--gray-color);
    padding: 10px 10px 10px 10px;
    background-color: var(--dark-color);
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    transform: scale(1);
    transition: transform 0.3s ease;

    .ph-arrow-up-right {
      margin-top: 7px;
      margin-left: 2px;
      font-size: 15px;
      font-weight: 100;
      color: var(--gray-color);
    }

    .bxs-circle {
      margin-top: 2px;
    }
  }

  .ปุ่มจำลอง2:hover {
    background-color: var(--orange-color);
    color: var(--dark-color);
    transform: scale(1.1);
  }
}

/* footer */
.footer {
  display: grid;
  justify-content: center;
  background-color: var(--dark-color);

  .footerh1 {
    color: var(--gray-color);
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 6rem;
  }

  .footer-icon {
    display: flex;
    margin-left: 6rem;

    .line {
      width: 70px;
      height: 70px;
      margin-right: 2rem;
      margin-top: 1rem;
      cursor: pointer;

      /* ความสมูท */
      transition: transform 0.35s ease, box-shadow 0.35s ease,
        background-position 0.6s ease;
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
      border-radius: 25px;
    }

    .line:hover {
      transform: scale(1.15); /* ขยาย */
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.35),
        0 0 35px rgba(0, 0, 0, 0.35), 0 15px 45px rgba(0, 0, 0, 0.4);
    }

    .instagram {
      width: 77px;
      height: 77px;
      margin-right: 2rem;
      margin-top: 0.8rem;
      cursor: pointer;
      transition: transform 0.35s ease, box-shadow 0.35s ease,
        background-position 0.6s ease;
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
      border-radius: 50px;
    }

    .instagram:hover {
      transform: scale(1.15); /* ขยาย */
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.35),
        0 0 35px rgba(0, 0, 0, 0.35), 0 15px 45px rgba(0, 0, 0, 0.4);
    }

    .facebook {
      width: 70px;
      height: 70px;
      margin-right: 2rem;
      margin-top: 1rem;
      cursor: pointer;
      transition: transform 0.35s ease, box-shadow 0.35s ease,
        background-position 0.6s ease;
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
      border-radius: 25px;
    }

    .facebook:hover {
      transform: scale(1.15); /* ขยาย */
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.35),
        0 0 35px rgba(0, 0, 0, 0.35), 0 15px 45px rgba(0, 0, 0, 0.4);
    }
  }

  .footer-text {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

    h4 {
      color: var(--gray-color);
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}
/* ฉันอยากให้ปุ่นใน html เมื่อนำเมาส์ไปชี้ทำให้ปุ่มมีขนาดใหญ่ขึ้นอย่างสมูทและเกิดเงาวิบวับสวยๆ */